.header{
  background-color: darkslategray;
  }
  .header  input[type=text] {
      float: right;
      padding: 6px;
      border: 2px solid black;
      width: 500px;
      margin-top: 8px;
      margin-right: 16px;
      font-size: 17px;
    }
   .header .logo{
        padding: 3px 0 0 80px;
        width: 125px;
        height: 60px;
    }
    @media screen and (max-width: 600px) {
       .header input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .header input[type=text] {
        border: 1px solid rgb(12, 12, 12);
      }
    }
  
  
  
  
  
  
  
  
    .topnav {
      background-color: #2c3e50;
      overflow: hidden;

     
    }
    
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      padding: 35px 20px;
      text-decoration: none;
      font-size: 25px;
    }
    
    /* Add an active class to highlight the current page */
    .active {
      background-color: #270855;
      color: white;
    }
    
    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      display: none;
    }
    
    /* Dropdown container - needed to position the dropdown content */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Style the dropdown button to fit inside the topnav */
    .dropdown .dropbtn {
      font-size: 25px;
      border: none;
      text-align: center;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    /* Style the dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Style the links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    /* Add a dark background on topnav links and the dropdown button on hover */
    .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: #555;
      color: white;
    }
    /* Add a grey background to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }






 










  *{
      margin: 0;
      padding:0;
      font-family: century Gothic;
  }
  .load{
      animation: slide 2s;
  }
  
  .slider{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      animation: slide 20s infinite;
  }
  
  .content{
      color: #fff;
      width: 100%;
      height: 100vh;
        background-color: rgba(0,0,0,0.5);
  }
  
  .principal{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      letter-spacing: 5px;
  text-decoration: center;
  }
  
  
  .principal h1{
      font-size: 70px;
      margin-bottom: 20px;
  
  }
  .principal .button{
      position: absolute;
      top: 120%;
      left: 15%;
      transition: translate(-50%,-50%);
  }
 .bt{
    border: 2px solid #fff;
    padding: 10px 10px;
    color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.6s ease;
}
.bt:hover{
background-color: #fff;
color: #000;
}
  
  
  @keyframes slide{
      0%{
          background-image: url('college.jpg');
      }
      20%{
        background-image: url('college.jpg');  
      }
   20.01%{
          background-image: url('cant.png');
      }
      40%{
        background-image: url('cant.png');  
      }
       40.01%{
          background-image: url('cla.png');
      }
      60%{
        background-image: url('cla.png');  
      }
       60.01%{
          background-image: url('gar.png');
      }
      80%{
        background-image: url('gar.png');  
      }
   80.01%{
          background-image: url('library.png');
      }
      100%{
        background-image: url('library.png');  
      }
  }
  
  
  
  
  
  
  
  
      
  
  
  
  /*about us*/
  .about,.facilities,.contactus{
      padding: 10% 10%;
      text-align:  center;
      
  
  }
  h1.tit{
      margin-bottom: 20px;
      color: #444444;
      font-family: 'Allura', cursive;
      text-transform: uppercase;
      font-size: 38px;
      word-spacing: 25px;
      letter-spacing: 5px;
  }
  
  .btn a{
      display: block;
      width: 180px;
      height: 35px;
      border: 2px solid #fb2274;
      line-height: 35px;
      margin-bottom: 0 auto;
      margin-left: 400px;
      margin-top: 40px;
      color: #fb2274;
      text-align: center;
  }
  /*facilities*/
  .facilities{
    background: #c0bbbb;
  }
  
  .diff-facilities{
      display: flex;
      margin-top: 35px;
      justify-content: space-between;
  }
  
  .diff_fac_item{
      width: 30%;
  }
  .diff_fac_item img{
      width: 100%;
      margin-bottom: 25px;
  }
  .diff_fac_item h3{
      color: #fb2274;
      margin-bottom: 15px;
  }
  
  /*contactus section*/
  .form_input{
      margin-bottom: 15px;
  }
  .form_input input[type="text"]{
    width: 250px;
      padding: 12px 20px;
      border: 1px solid #ccc;
  }
  .form_input textarea{
      width: 250px;
      padding: 12px 20px;
      height: 80px;
      resize: none;
      border: 1px solid #ccc;
  }
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  /*footer*/
  p{
      color: rgb(78, 72, 72);
      line-height:25px ;
  }
  h2,h3{
      color: #fff;
  }
  h2{
      font-size: 18px;
  }
  .footer-top{
      background: #111;
      padding: 80px 0;
  }
  .segment-one h3{
      font-family:'Courier New', Courier, monospace;
      color: #fff;
      letter-spacing: 2px;
      margin: 5px 0;
      padding-right: 4px;
  
  }
  
  
  .segment-three h2{
      color: #fff;
      font-family: poppins;
      text-transform: uppercase;
  }
  .segment-three h2:before{
      content: '|';
      color: #c65039;
      padding-right: 10px;
  }
  .segment-three a{
      background: #494848;
      width: 20px;
      height: 20px;
      border-radius: 20%;
      display: inline-block;
     
  
  }
  
  .segment-three a i{
      font-size: 20px;
      color: #fff;
      padding:10px 12px;
  }
  
  .segment-four h2{
      color: #fff;
      font-family: poppins;
      text-transform: uppercase;
  }
  .segment-four h2:before{
      content: '|';
      color: #c65039;
      padding-right: 10px;
  }
  .segment-four form input[type=submit]{
      background: #c65039;
      border:none;
      padding: 3px 15px;
      margin-left:-5px;
      color: #fff;
      text-transform: uppercase;
      
  }
  
  .footer-bottom-text{
      text-align: center;
      background: #000;
      line-height: 75px;
  }
  /*responsive css code*/
  @media only screen and (min-width: 768px) and (max-width: 991px){
      .md-mb-30{
          margin-bottom: 30px;
      }
  }
  @media only screen and (min-width: 767px){
      .sm-mb-30{
          margin-bottom: 30px;
      }
  .footer-top{
      padding: 50px 0;
  }
  }